<form hx-post="/settings/passwordchange" hx-swap="outerHTML">
    <div class="form-outline mb-4">
      <input type="password" id="old-input" name="old" class="form-control" required/>
      <label class="form-label" for="old-input">Old password</label>
    </div>
  
    <div class="form-outline mb-4">
      <input type="password" id="password-input" name="password" class="form-control" required/>
      <label class="form-label" for="password-input">New password</label>
    </div>
  
    <button type="submit" class="btn btn-primary btn-block mb-4" style="float:right" data-loading-disable>Change</button>
  </form>
  {% if poperror %}
  {% include 'fragments/poperror.html' %}
  {% endif %}