<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <title>Cameras</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="/static/bootstrap.min.css" rel="stylesheet">
        <script src="/static/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <a class="navbar-brand" href="#">Camera</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Alerts</a>
                </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            {% for i in range(number) %}
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                    <img src="/cam/{{i}}">
                </div>
                <div class="col-md-2"></div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>