<form hx-post="/login" hx-ext="disable-element" hx-disable-element="#login-submit">
  <div class="form-outline mb-4">
    <input type="text" id="username-input" name="username" class="form-control" />
    <label class="form-label" for="username-input">Username</label>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="password-input" name="password" class="form-control" />
    <label class="form-label" for="password-input">Password</label>
  </div>

  <button id="login-submit" type="submit" class="btn btn-primary btn-block mb-4">Login</button>
</form>