<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <title>Cams</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="/static/bootstrap.min.css" rel="stylesheet">
        <link href="/static/video-js.min.css" rel="stylesheet">
        <script src="/static/bootstrap.bundle.min.js"></script>
        <script src="/static/htmx.min.js"></script>
        <script src="/static/video.min.js"></script>
        <style>
            #page {
                margin-top: 100px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <a class="navbar-brand" href="#">Camera</a>
            <button href="#" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" hx-trigger="click, loggedin from:body" hx-target="#page" hx-get="/cams">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" hx-target="#page" hx-get="/alerts">Alerts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" hx-target="#page" hx-get="/settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" hx-target="#page" hx-get="/logout">Logout</a>
                </li>
                </ul>
            </div>
        </nav>
        <div id="page" class="container" hx-get="/cams" hx-trigger="load">
            
        </div>
        <script>
            document.body.addEventListener('htmx:confirm', function(evt) {
                if (evt.detail.target.id == "page") {
                    var streams = document.querySelectorAll('img.streaming');
                    // stop streams when reload
                    for (stream of streams)
                        stream.src = ""

                    for (videojsplayer of window.videojsplayers) {
                        videojsplayer.src("")
                        videojsplayer.dispose()
                    }
                    window.videojsplayers = []
                }
            });

            window.videojsplayers = []
        </script>
    </body>
</html>