<div class="accordion" id="accordionDetections">
  {% for detection in detections %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ loop.index }}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}"
        aria-expanded="{{ 'false' if detection.viewed else 'true' }}" aria-controls="collapse{{loop.index}}">
        Intrusion detected on camera {{ detection.camera_id }} at {{ detection.time }}
      </button>
    </h2>
    <div id="collapse{{ loop.index }}" class="accordion-collapse collapse show" aria-labelledby="heading{{ loop.index }}"
      data-bs-parent="#accordionDetections">
      <div class="accordion-body">
        <video-js id="detection{{ loop.index }}" class="vjs-default-skin" preload="auto" controls playsinline poster="data:image/png;base64,{{ detection.preview }}">
          <source src="/detections/{{ detection.video }}" type="video/mp4" />
        </video-js>
        <p>{{ detection.description }}</p>
      </div>
    </div>
  </div>
  <script>
    window.loadmyplayerdetections("detection{{ loop.index }}", "/detections/{{ detection.video }}");
  </script>
  {% endfor %}
</div>