{% if number <= 0 %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
  <i class="bi bi-exclamation-triangle-fill"></i>

  <div>
    &nbsp;No camera set up
  </div>
</div>
{% endif %}
{% for i in range(number) %}
<div class="row mb-4">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="card text-center">
            <div class="card-header">
                <h3>
                    <i class="bi-webcam"></i> Camera {{i}} &nbsp;&nbsp;&nbsp;
                    <a hx-get="/settings/intrusiondetection/{{i}}" hx-trigger="load" hx-swap="outerHTML"></a>
                </h3>
            </div>
            <div class="card-body mx-0 px-0 pt-0 pb-1">
                {% if streamingmethod == "hls" %}
                <video-js id="cam{{i}}" class="vjs-default-skin" controls playsinline>
                    <source src="/streaming/{{i}}.m3u8" type="application/x-mpegURL" >
                </video-js>
                {% elif streamingmethod == "mjpeg" %}
                    <img src="/cam/{{i}}" class="img-fluid streaming">
                {% else %}
                    <h3>UNSUPPORTED STREAMING METHOD</h3>
                {% endif %}
            </div>
          </div>
    </div>
    <div class="col-md-2"></div>
</div>
<script>
    window.loadmyplayer("cam{{i}}", "/streaming/{{i}}.m3u8");
</script>
{% endfor %}
