{% for i in range(number) %}
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="card text-center">
            <div class="card-header">
                <h3>
                    <i class="bi-webcam"></i> Camera {{i}} &nbsp;&nbsp;&nbsp;
                    <a hx-get="/settings/intrusiondetection/{{i}}" hx-trigger="load" hx-swap="outerHTML"></a>
                </h3>
            </div>
            <div class="card-body mx-0 px-0 pt-0 pb-1">
                <video-js id="cam{{i}}" class="vjs-default-skin" controls playsinline>
                    <source src="/streaming/{{i}}.m3u8" type="application/x-mpegURL">
                </video-js>
            </div>
          </div>
        <script>
            window.videojsplayers.push(videojs('cam{{i}}', {
                src: "/streaming/{{i}}.m3u8",
                type: "application/x-mpegURL",
                autoplay: true,
                muted: true,
                responsive: true,
                fluid: true,
                liveui: true,
                html5: { hls: { overrideNative: true }, nativeVideoTracks: false, nativeAudioTracks: false, nativeTextTracks: false }
            }))
        </script>
        <!--<img src="/cam/{{i}}" class="img-fluid streaming">-->
    </div>
    <div class="col-md-2"></div>
</div>
{% endfor %}
