<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">

    <h1 class="mb-4"><i class="bi-tools"></i> {{ username }}</h1>
    </div>
    <div class="col-md-2">

    </div>
</div>

<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <h3>Streaming method</h3>
        <form hx-post="/settings/streamingmethod" hx-swap="outerHTML" hx-trigger="load">
        </form>
    </div>
    <div class="col-md-2">

    </div>
</div>



<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <h3>Sessions</h3>
        {% for session in sessions %}

        <div id="sessioncard{{ loop.index }}"
        {% if loop.index == 1 %}
        class="mb-5 card"
        {% else %}
        class="mb-1 card"
        {% endif %}
        >
            <div class="card-header">
                {% if loop.index == 1 %}
                You
                {% else %}
                {{session.ip}}
                {% endif %}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{session.login_time}} UTC</h5>
                <p class="card-text">{{session.user_agent}}</p>
                {% if loop.index != 1 %}
                <a hx-delete="/session"  style="float:right"
                    href="#" hx-vals='{"token": "{{session.token}}"}' hx-swap="outerHTML" hx-target="#sessioncard{{ loop.index }}" class="btn btn-danger">
                    Close session
                </a>
                {% endif %}
            </div>
        </div>

        {% endfor %}
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8 mt-4">
        <h3>Change password</h3>
        <form hx-post="/settings/passwordchange" hx-swap="outerHTML" hx-trigger="load"></form>
    </div>
    <div class="col-md-2"></div>
</div>
